---
layout: default
---

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>

<body>
    <a href='{{ "/" | relative_url }}' class="backButton">← All Posts</a>
    <h1 style="margin-bottom: 5px; font-family: serif; font-size: 3em;">{{ page.title }}</h1>

    <div class="subtext">{{ page.date | date: "%B %-d %Y" }}</div>
    <div class="subtext">{{ page.location }}</div>

    <div id="tagContainer" style="margin-bottom: 40px; margin-top: 15px;">
        {% for tag in page.tags %}
        {% assign tag_slug = tag | slugify: "raw" %}
        <a class="tag" href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }} rel="category tag">
            {{ tag }}
        </a>
        {% endfor %}
    </div>


    <div id="featuredImageContainer">
        <img src="{{ page.featuredImage | relative_url }}" alt="" id="featuredImage">
    </div>

    <div class="subtext" style="margin-bottom: 40px; text-align: center;">
        {{ page.featuredImageCaption }}
    </div>

    <div class="prevNext">
        <div>
            {% if page.previous.url %}
            ←
            <a class="prev" href="{{ page.previous.url | relative_url }}">{{page.previous.title}}</a>
            {% endif %}
        </div>
        <div>
            {% if page.next.url %}
            <a class="next" href="{{ page.next.url | relative_url }}">{{page.next.title}}</a>
            →
            {% endif %}
        </div>
    </div>

    {{ content }}


</body>

</html>