---
layout: default
---

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>

<body>
    {{ content }}

    {% assign image_files = site.static_files | where: "image", true %}
    {% assign n = image_files | size %}
    {% assign shuffled = image_files | sample: n %}

    <h3 class="subtext">
        {{ n }} photos <br>
        Last updated {{ site.posts.first.date | date: "%B %-d, %Y" }}
    </h3>

    <br>

    <div id="galleryMasonry">

        {% for image in shuffled %}
        <div class="galleryImageWrapper">

            <div class="galleryImageCropWrapper">
                <a href="{{ image.path | relative_url }}">
                    <img class="galleryImage" src="{{ image.path | relative_url }}" alt="image" />
                </a>
            </div>
            {% assign pathArray = image.path | split: "/" %}
            {% assign link = pathArray[2] | replace: "-", "/" %}
            <div class="galleryImageSubtitle">
                {{ image.basename }} - <a href="{{ link | relative_url }}">View Original Post</a>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>