---
layout: default
---

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>

<body>
    {{ content }}

    {% assign image_files = site.static_files | where: "image", true %}
    {% assign n = image_files | size %}
    {% assign shuffled = image_files | sample: n %}

    <h3 class="subtext">
        {{ n }} photos <br>
        Last updated {{ site.posts.first.date | date: "%B %-d, %Y" }}
    </h3>

    <br>

    <div id="galleryMasonry">

        {% for image in shuffled %}
        <div class="galleryImageWrapper">
            {% assign pathArray = image.path | split: "/" %}
            {% assign link = pathArray[2] | replace: "-", "/" %}
            {% assign fullResImage = image.path | replace: "thumbnails", "photos" %}

            <div class="galleryImageCropWrapper" style="position: relative;">
                <a href="{{ fullResImage | relative_url }}">
                    <div class="highResImage" style="
                                    display: none;
                                    background: url('{{ fullResImage | relative_url }}'); 
                                    background-size: cover;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    top: 0;
                                    bottom: 0;
                                    ">
                    </div>
                    <img class="galleryImage" src="{{ image.path | relative_url }}" alt="image" />
                </a>
            </div>
            <div class="galleryImageSubtitle">
                View: <a href="{{ fullResImage | relative_url }}">Full</a>
                | <a href="{{ link | relative_url }}">Post</a>
            </div>


        </div>
        {% endfor %}
    </div>

</body>

</html>