---
layout: default
---

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>

<body>
    {{ content }}

    <div id="galleryMasonry">
        {% assign image_files = site.static_files | where: "image", true %}
        {% for image in image_files %}
        <div class="galleryImageWrapper">
            <div class="galleryImageSource galleryImageSubtitle" style="top: 5px; bottom: auto;">
                {% assign pathArray = image.path | split: "/" %}
                {% assign link = pathArray[2] | replace: "-", "/" %}
                <a href="{{ link | relative_url }}">Original Post: {{ pathArray[2] | split: "-" | last }}</a>
            </div>
            <a href="{{ image.path | relative_url }}">
                <img class="galleryImage" src="{{ image.path | relative_url }}" alt="image" />
            </a>
            <div class="galleryImageSubtitle">
                {{ image.basename }}
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>