---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">Recent Posts</h2>
    <ul class="post-list">

        {%- for post in site.posts -%}
        <li class="postRow">
            <div class="postRowTitleContainer">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>

                <h3 style="margin-bottom: 0px;">
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h3>

                <div id="tagContainer" style="font-size: 0.75em;">
                    {% for tag in post.tags %}
                    {% assign tag_slug = tag | slugify: "raw" %}
                    <a class="tag" href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
                        rel="category tag">
                        {{ tag }}
                    </a>
                    {% endfor %}
                </div>
            </div>


            <a class="post-link" href="{{ post.url | relative_url }}">
                <div class="featuredImageThumbnailContainer">
                    <img src="{{ post.featuredImage | relative_url }}" alt="">
                </div>
            </a>

        </li>
        {%- endfor -%}

    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}

</div>